[submodule "vim-mustache-handlebars"]
	path = vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "ag.vim"]
	path = ag.vim
	url = git@github.com:rking/ag.vim.git
