[submodule "vim-mustache-handlebars"]
	path = vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "ag.vim"]
	path = ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim-less"]
	path = vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "vim-jsx"]
	path = vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim-json"]
	path = vim-json
	url = git@github.com:elzr/vim-json.git
